header#header.page
  .logo

  .page_content.no_margin_bottom
    h3 {{ 'TITLE' | translate }}
    h3.subtitle {{ 'SUBTITLE' | translate }}

    .activities
      ul
        li prefabbricati
        li infrastrutture
        li real estate
        li oil & gas
        li centrali energia

      ul
        li sistemi di stoccaggio
        li logistica di magazzino
        li carpenteria

      ul
        li isolamenti su misura
        li isolamenti industriali
        li isolamenti civili

      ul
        li impianti del freddo
        li progettazione
        li realizzazione
        li manutenzione
        li monitoring

      ul
        li soluzioni per coperture e rivestimenti civili e industriali

  .arrow.down.no_margin_top(ng-click="scrollToElement('contacts')")